<div class='box car-toolbox'>
  <div class="btn-toolbar" role="toolbar">
  <% if can? :update, @admin %>
    <div class="btn-group">
      <%= link_to edit_back_admin_path(@admin), {class: 'btn btn-default'} do %>
        <i class="fa fa-edit"></i> <%= t('view.action.edit') %> 
      <% end %>
    </div>
  <% end %>
  <% if can? :destroy, @admin %>
    <div class="btn-group">
      <%= link_to [:back, @admin], {method: :delete,
      data: { confirm: t('view.confirm.delete')},  class: 'btn btn-default'} do %>
        <i class="glyphicon glyphicon-remove"></i> <%= t('view.action.delete') %> 
      <% end %>
    </div>
  <% end %>
    <div class="btn-group pull-right">
      <%= link_to back_admins_path, {class: 'btn btn-default'} do %>
        <i class="fa fa-list"></i> <%= t('view.action.back_to_list') %> 
      <% end %>
    </div>
  </div>
</div>

<div class='box box-info car-content-box'>
  <dl class="dl-horizontal">
    <dt><%= Admin.human_attribute_name(:email) %></dt>
    <dd><%= @admin.email %></dd>
    <dt><%= Admin.human_attribute_name(:name) %></dt>
    <dd><%= @admin.name %></dd>
    <dt><%= Admin.human_attribute_name(:sex) %></dt>
    <dd><i class="fa fa-<%= @admin.sex %>"></i> <%= @admin.sex_text %></dd>
    <dt><%= Admin.human_attribute_name(:telephone) %></dt>
    <dd><%= @admin.telephone %></dd>
    <dt><%= Admin.human_attribute_name(:roles) %></dt>
    <dd>
      <% @admin.roles.each do |role| -%>
      <p>
        <i class='fa fa-check-square-o'></i> <%= role.label %>
      </p>
      <% end -%>
    </dd>
  </dl>
</div>
