<div class='box car-toolbox'>
  <div class="btn-toolbar" role="toolbar">
  <% if can? :update, @system_admin %>
    <div class="btn-group">
      <%= link_to edit_back_system_system_admin_path(@system_admin), {class: 'btn btn-default'} do %>
        <i class="fa fa-edit"></i> <%= t('view.action.edit') %> 
      <% end %>
    </div>
  <% end %>
  <% if can? :destroy, @system_admin %>
    <div class="btn-group">
      <%= link_to [:back, :system, @system_admin], {method: :delete,
      data: { confirm: t('view.confirm.delete')},  class: 'btn btn-default'} do %>
        <i class="glyphicon glyphicon-remove"></i> <%= t('view.action.delete') %> 
      <% end %>
    </div>
  <% end %>
    <div class="btn-group pull-right">
      <%= link_to back_system_system_admins_path, {class: 'btn btn-default'} do %>
        <i class="fa fa-list"></i> <%= t('view.action.back_to_list') %> 
      <% end %>
    </div>
  </div>
</div>

<div class='box box-info car-content-box'>
  <dl class="dl-horizontal">
    <dt><%= SystemAdmin.human_attribute_name(:email) %></dt>
    <dd><%= @system_admin.email %></dd>
    <dt><%= SystemAdmin.human_attribute_name(:name) %></dt>
    <dd><%= @system_admin.name %></dd>
    <dt><%= SystemAdmin.human_attribute_name(:sex) %></dt>
    <dd><i class="fa fa-<%= @system_admin.sex %>"></i> <%= @system_admin.sex_text %></dd>
    <dt><%= SystemAdmin.human_attribute_name(:telephone) %></dt>
    <dd><%= @system_admin.telephone %></dd>
    <dt><%= SystemAdmin.human_attribute_name(:roles) %></dt>
    <dd>
      <% @system_admin.roles.each do |role| -%>
        <p>
          <i class='fa fa-check-square-o'></i> <%= I18n.t("enumerize.roles.system_admin.#{role }")%>
        </p>
      <% end -%>
    </dd>
  </dl>
</div>
