<div class="row">
  <div class="col-md-3">
    <%= render "sidebar" %>
  </div><!-- /.col -->

  <div class="col-md-9 car-content-side">
    <div class="car-info-list">
      <div class="car-condition">
        <form action='<%= front_question_index_faq_path%>' method='get'>
          <div class="input-group input-group-sm col-sm-5">
            <input type="text" class="form-control" name='name_faq' 
              value="<%= params['name_faq']%>">
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat" type="submit">
                <i class='fa fa-search-plus'></i>
              </button>
            </span>
          </div>
        </form>
      </div>
      <div class='car-result'>
        <div class="car-nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><%= link_to "常见问题", front_question_index_faq_path %></li>
            <li><%= link_to "用户提问", front_question_index_uaq_path %></li>
          </ul>
          <div class="header">
            <%= t("view.label.total_count", count: @faqs.total_count) %>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <ul class='car-list-result'>
                <% @faqs.each do |item| %>
                  <li class='list-item car-question'>
                    <h4 class="question">
                      <i class="fa fa-question-circle"></i><%= item.question%>
                    </h4>
                    <p class="answer"><%= item.answer%></p>
                  </li>
                <% end %>
              </ul>

              <div>
                <%= paginate @faqs %>
                <div class="car-page-entries-info pull-right">
                  <%= page_entries_info @faqs %>
                </div>
              </div>

            </div><!-- /.tab-pane -->
          </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
      </div>
    </div>
  </div>
</div><!-- /.row -->

