          <div class="bs-sidebar hidden-print affix" role="complementary">
            <ul class="nav bs-sidenav">
            <% @catagories.each do |catagory|  %>
              <li class="<%= @catagory && catagory.id == @catagory.id ? 'active' : ''%>">
                <%= link_to catagory.name, front_catagory_path(catagory) %>
              </li>
            <% end %>
              <li class="<%= current_nav_class(front_stations_path)%>">
                <%= link_to Station.model_name.human, front_stations_path %>
              </li>
              <li class="<%= current_nav_class(front_question_index_faq_path)%> <%= current_nav_class(front_question_index_uaq_path)%>">
                <%= link_to "提问留言", front_question_index_faq_path %>
              </li>
            </ul>
          </div>
