<% content_for :head_title do %>
  登录
<% end %>

<div class='row car-devise'>
  <div class='col-sm-8 car-left-side'>
    <div class="car-nav-tabs-custom">
      <ul class="nav nav-tabs" role="tablist">
        <li><a href="<%= new_user_session_path %>">账号登录</a></li>
        <li class="active"><a href="<%= new_by_telephone_user_session_path %>">手机动态码登录</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_email">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="body">
              <%= render "admins/notice_alert" %>
              <div class="input-group col-sm-7">
                <span class="input-group-addon">
                  <i class='glyphicon glyphicon-phone'></i>
                </span>
                <%= f.text_field :telephone, autofocus: true, class: 'form-control', placeholder: '手机号码' %>
              </div>
              <br>
              <div>
                <div class="input-group col-sm-4" style="float:left;">
                  <span class="input-group-addon">
                    <i class='glyphicon glyphicon-qrcode'></i> 
                  </span>
                  <%= text_field_tag :captcha, nil, {autocomplete: "off", class: 'form-control', 
                    placeholder: "验证码（点击图片刷新）"} %>
                </div>          
                <div class='col-sm-2' style='float: left;'>
                    <%= captcha_tag class: 'car-captcha'%>
                </div>
              </div>
              <div class="clearfix"></div>
              <br>
              <div>
                <div class="input-group col-sm-4" style="float:left;">
                  <span class="input-group-addon">
                    <i class='glyphicon glyphicon-lock'></i>
                  </span>
                  <%= text_field_tag :yanzhengma, nil, autofocus: true, class: 'form-control', placeholder: '手机动态码' %>
                </div>
                <div class='col-sm-2' style='float: left;'>
                  <a class="btn btn-warning" id="get_yanzhengma" >
                    点击获取手机动态码
                  </a>
                </div>
              </div>
              <div class="clearfix"></div>
              <br>
            </div>
            <div class="footer">                                                               
              <%= f.submit "登录", class: 'btn btn-lg btn-success col-sm-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class='col-sm-4 car-right-side'>
    <%= render "users/shared/links" %>
  </div>
</div>
