<div class='box car-toolbox'>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group pull-right">
      <%= link_to front_user_personal_show_path, {class: 'btn btn-default'} do %>
        <i class="fa fa-reply"></i> <%= t('view.action.back') %> 
      <% end %>
    </div>
  </div>
</div>

<div class='box box-info car-content-form'>
  <%= simple_form_for(@user, url: [:front, :user, :personal, :update], html: {class: 'form-horizontal mask-form', role: 'form', method: :patch} ) do |f| %>
    <div class='car-form-items'>
      <%= f.input :email, input_html: {readonly: ""} %>
      <%= f.input :telephone, input_html: {readonly: ""} %>
      <%= f.input :name, placeholder: t('view.placeholder.name') %>
      <%= f.input :sex, as: :radio_buttons %>
    </div>
    <div class="car-form-actions bg-gray">
      <div class='col-sm-offset-2 col-sm-10 button-wrapper'>
        <%= f.button :submit, t('view.action.modify'), class: 'btn-primary' %>
      </div>
      <div class='clearfix'></div>
    </div>
  <% end %>
</div>
