<div class='box car-toolbox'>
  <div class="btn-toolbar" role="toolbar">
    <% if can? :update, @uaq -%>
    <div class="btn-group">
      <%= link_to edit_back_uaq_path(@uaq), {class: 'btn btn-default'} do %>
        <i class="fa fa-edit"></i> <%= t('view.action.answer') %> 
      <% end %>
    </div>
    <% end %>
    <div class="btn-group pull-right">
      <%= link_to back_uaqs_path, {class: 'btn btn-default'} do %>
        <i class="fa fa-list"></i> <%= t('view.action.back_to_list') %> 
      <% end %>
    </div>
  </div>
</div>

<div class='box box-info car-content-box'>
  <dl class="dl-horizontal">
    <dt><%= t('view.label.status')%></dt>
    <dd>
      <%=  render_question_status(@uaq.answered?) %>
    </dd>
    <dt><%= Uaq.human_attribute_name(:user_id) %></dt>
    <dd><%= @uaq.user.show_name %></dd>
    <dt><%= Uaq.human_attribute_name(:question) %></dt>
    <dd><%= @uaq.question %></dd>
    <% if @uaq.answered? %>
    <dt><%= Uaq.human_attribute_name(:answered_admin_id) %></dt>
    <dd><%= @uaq.admin.name%></dd>
    <dt><%= Uaq.human_attribute_name(:answer) %></dt>
    <dd><%= @uaq.answer %></dd>
    <% end %>
    <dt><%= Uaq.human_attribute_name(:created_at) %></dt>
    <dd><%= l(@uaq.created_at) %></dd>
    <dt><%= Uaq.human_attribute_name(:updated_at) %></dt>
    <dd><%= l(@uaq.updated_at) %></dd>
  </dl>
</div>
