<% content_for :head_title do %>
<%= t('view.action.resend_unlock_mail')%>
<% end %>

<div class='row car-devise'>
  <div class='col-sm-8 car-left-side'>
    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name),
        html: {class: 'form-horizontal', role: 'form', method: :post} ) do |f| %>

      <%= f.full_error :unlock_token, class: "car-token-alert" %>

      <div class="well">
        <ul>
          <li>如果您填写了邮箱信息，可通过输入Email接收解锁邮件。</li>
          <li>
            如果您是通过手机注册的用户，可通过 
            <a href="<%= new_by_telephone_user_session_path%>"><%= t('view.action.sign_in_by_phone')%></a>
            来解锁。
          </li>
          <li>账户被锁定后，3个小时后会自动解锁。</li>
        </ul>
      </div>

      <div class='car-form-items'>
        <%= f.input :email, required: true, autofocus: true, input_html: {maxlength: 30} %>
      </div>

      <div class="car-form-actions">
        <%= f.button :submit, t('view.action.resend_unlock_mail'),
              class: 'btn btn-success col-sm-2 col-sm-offset-2' %>
      </div>
    <% end %>
  </div>

  <div class='col-sm-4 car-right-side'>
    <%= render "users/shared/links" %>
  </div>
</div>
