<div class="row">
  <div class="col-md-3">
    <%= render "sidebar" %>
  </div><!-- /.col -->

  <div class="col-md-9 car-content-side">
    <div class="car-info-list">
      <div class='car-condition'>
        <div class="car-header">
          <h4>车检站</h4>
        </div>
        <div class="car-body">
          <dl>
            <dt>行政区域</dt>
            <dd>
            <% ChinaCity.list('610100').each do |item| %>
              <% _district_class = session[:station_conditions]['district'] && 
              session[:station_conditions]['district'] == item[1] ? 'active' : '' %>
              <%= link_to item[0], front_stations_path({district: item[1]}),
                {class: _district_class} %>
            <% end %>
            </dd>
          </dl>
          <dl>
            <dt>名称查询</dt>
            <dd>
              <form action='<%= front_stations_path%>' method='get'>
                <div class="input-group input-group-sm col-sm-5">
                  <input type="text" class="form-control" name='name' maxlength="30"
                    value="<%= session[:station_conditions]['name']%>">
                  <span class="input-group-btn">
                    <button class="btn btn-info btn-flat" type="submit">
                      <i class='fa fa-search-plus'></i>
                    </button>
                  </span>
                </div>
              </form>
            </dd>
          </dl>
          <dl class='selected'>
            <dt>已选条件</dt>
            <dd>
              <% if session[:station_conditions]['district'].present? %>
              <div>
                <%= ChinaCity.get(session[:station_conditions]['district']) %>
                <a href='<%= front_stations_path(undistrict: true) %>' class="btn btn-info btn-xs"><i class="fa fa-times"></i></a>
              </div>
              <%end%>
              <% if session[:station_conditions]['name'].present? %>
              <div>
                <%= '名称：' + session[:station_conditions]['name'] %>
                <a href='<%= front_stations_path(unname: true) %>' class="btn btn-info btn-xs"><i class="fa fa-times"></i></a>
              </div>
              <%end%>
            </dd>
          </dl>
          <div class='clearfix'></div>
        </div>
      </div>
      <div class='car-result'>
        <div class="car-nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a>全 部</a></li>
          </ul>
          <div class="header">
            <%= t("view.label.total_count", count: @stations.total_count) %>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <ul class='car-list-result'>
                <% @stations.each do |s| %>
                <li class='list-item'>
                  <div class='logo'>
                    <a href="<%= front_station_path(s) %>" data-no-turbolink>
                      <%= image_tag s.logo.url(:medium), {class: 'img-thumbnail', title: t('view.label.click_to_detail')} %>
                    </a>
                    <div class='action text-center'>
                      <%= link_to t("view.action.order_online"), new_front_station_order_path(s), class: "btn btn-primary" %>
                    </div>
                  </div>
                  <div class='info'>
                    <div class='title'>
                      <h4>
                        <%= link_to s.name, [:front, s], {"data-no-turbolink" => ""} %>
                      </h4>
                    </div>
                    <p>详细地址：<%= s.address_text %>&nbsp;&nbsp;
                    [<%= link_to t("view.label.map"), front_station_path(s) + "#station_map", {"data-no-turbolink" => ""} %>]
                    </p>
                    <p>联系电话：<%= s.telephone %></p>
                    <p>简单介绍：<%= s.recommend.present? ? s.recommend : '暂无' %></p>
                  </div>
                  <div class='clearfix'></div>
                </li>
                <% end %>
              </ul>

              <div>
                <%= paginate @stations %>
                <div class="car-page-entries-info pull-right">
                  <%= page_entries_info @stations %>
                </div>
              </div>
            </div><!-- /.tab-pane -->
          </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
      </div>
    </div>
  </div>
</div><!-- /.row -->
