<%= content_for :head_javascript do %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=IGhkZcALWGBLsua1oBE4KXb7"></script>
<%end%>

<div class="row">
  <% if @station.pictures.present? %>
  <div class="col-sm-6">
    <div id="carousel-station" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @station.pictures.each_with_index do |p, index| %>
        <li data-target="#carousel-station" data-slide-to="<%= index %>" class="<%= 'active' if index == 0%>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% active_flag = true %>
        <% @station.pictures.each do |p| %>
          <% if active_flag %>
            <div class="item active">
            <% active_flag = false %>
          <% else %>
            <div class="item">
          <% end %>
            <%= image_tag p.data.url(:medium), class: "station-pictures"%>
            <!--
            <div class="carousel-caption">
              First Slide
            </div>
            -->
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#carousel-station" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-station" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <% end %>

  <div class="col-sm-6">
    <h3><%= @station.name %></h3>
    <hr>
    <p>详细地址：<%= @station.address_text %></p>
    <p>联系电话：<%= @station.telephone %></p>
    <br>
    <div class='action'>
      <%= link_to t("view.action.order_online"), new_front_station_order_path(@station), class: "btn btn-danger btn-lg" %>
    </div>
  </div>
</div>
<hr>
<div class="row station-area-for-show">
  <div class="title">
    <h4>车检站简介</h4>
  </div>
  <div class="recommend">
    <%= @station.recommend.present? ? @station.recommend : '暂无' %></p>
  </div>
</div>

<div class="row station-area-for-show">
  <div class="title">
    <h4>车检站地图</h4>
  </div>
  <div class="recommend col-sm-12">
    <div id="allmap" style="width: 100%; height:400px;"></div>
  </div>
</div>

<script type="text/javascript">

  // TODO dairg 地图事例
  // 百度地图API功能
  var map = new BMap.Map("allmap");            // 创建Map实例
  var point = new BMap.Point(116.404, 39.915); // 创建点坐标
  map.centerAndZoom(point,15);                 // 初始化地图,设置中心点坐标和地图级别。
  map.enableScrollWheelZoom();                 //启用滚轮放大缩小

</script>
