<div class="row">
  <% if @station.pictures.present? %>
  <div class="col-sm-6">
    <div id="carousel-station" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @station.pictures.each_with_index do |p, index| %>
        <li data-target="#carousel-station" data-slide-to="<%= index %>" class="<%= 'active' if index == 0%>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% active_flag = true %>
        <% @station.pictures.each do |p| %>
          <% if active_flag %>
            <div class="item active">
            <% active_flag = false %>
          <% else %>
            <div class="item">
          <% end %>
            <%= image_tag p.data.url(:medium), class: "station-pictures"%>
            <!--
            <div class="carousel-caption">
              First Slide
            </div>
            -->
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#carousel-station" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-station" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <% end %>

  <div class="col-sm-6">
    <h3><%= @station.name %></h3>
    <div class='action'>
      <%= link_to t("view.action.order_online"), new_front_station_order_path(@station), class: "btn btn-danger btn-lg" %>
    </div>
  </div>
</div>
<hr>
<div class="row station-recommend">
  <div class="title">
    <h4>车检站简介</h4>
  </div>
  <div class="recommend">
    <%= @station.recommend %>
  </div>
</div>
