<div class='box box-info car-content-form'>
  <%= simple_form_for(@admin, url: [:back, :personal, :update_password], html: {class: 'form-horizontal mask-form', role: 'form', method: :patch} ) do |f| %>
    <div class='car-form-items'>
      <div class="form-group">
        <label class="col-sm-2 control-label"><%= Admin.human_attribute_name(:email) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @admin.email %></p>
        </div>
      </div>
      <%= f.input :current_password, required: true %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
    </div>
    <div class="car-form-actions bg-gray">
      <div class='col-sm-offset-2 col-sm-10 button-wrapper'>
        <%= f.button :submit, t('view.action.modify'), class: 'btn-primary' %>
      </div>
      <div class='clearfix'></div>
    </div>
  <% end %>
</div>
