<%= simple_form_for([:back, :station, @station_admin], html: {class: 'form-horizontal mask-form', role: 'form'} ) do |f| %>
  <div class='car-form-items'>
    <%# f.association :station, label_method: :name, disabled: true %>
    <%= f.input :email, placeholder: t('view.placeholder.email') %>
    <%= f.input :name, placeholder: t('view.placeholder.name') %>
    <%= f.input :sex, as: :radio_buttons %>
    <%= f.input :telephone, input_html: telephone_mask_hash %>
    <%= f.input :password, required: @station_admin.new_record? %>
    <%= f.input :password_confirmation %>
    <%# f.association :roles, as: :check_boxes, label_method: :label %>
    <%= f.input :roles, as: :check_boxes, collection: admin_role_collections(:station) %>
  </div>
  <div class="car-form-actions bg-gray">
    <div class='col-sm-offset-2 col-sm-10 button-wrapper'>
      <%= f.button :submit, class: 'btn-primary' %>
    </div>
    <div class='clearfix'></div>
  </div>
<% end %>
