<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <%=render_current_user_image%>
    </div>
    <div class="pull-left info">
      <p><%= t('view.label.welcome', {name: current_admin.name}) %></p>
      <a><i class="fa fa-circle text-success"></i> <%= truncate(render_current_admin_roles, length: 15) %></a>
    </div>
  </div>
  <% if current_admin.station_admin? %>
  <!-- search form -->
  <form action="<%= show_order_no_back_mystation_orders_path %>" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="order_no" class="form-control" value="<%= params[:order_no]%>"
      placeholder="流水或手机或车牌号">
      <span class="input-group-btn">
      <button type="submit" name="seach" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <!-- /.search form -->
  <% end %>
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <% if current_admin.system_admin? %>
      <%= render_navigation( level: 1, context: :admin, renderer: :list_bootstrap_render) %>
    <% else %>
      <%= render_navigation( level: 1, context: :admin_station, renderer: :list_bootstrap_render) %>
    <% end %>
  </ul>
</section>
<!-- /.sidebar -->
