<div class='box car-toolbox'>
  <div class="btn-toolbar" role="toolbar">
  <% if can? :update, @post%>
    <div class="btn-group">
      <%= link_to edit_back_post_path(@post), {class: 'btn btn-default'} do %>
        <i class="fa fa-edit"></i> <%= t('view.action.edit') %> 
      <% end %>
    </div>
  <% end %>
  <% if can? :destroy, @post %>
    <div class="btn-group">
      <%= link_to [:back, @post], {method: :delete,
      data: { confirm: t('view.confirm.delete')},  class: 'btn btn-default'} do %>
        <i class="glyphicon glyphicon-remove"></i> <%= t('view.action.delete') %> 
      <% end %>
    </div>
  <% end %>
    <div class="btn-group">
      <% if can? :complete, @post %>
        <%= link_to complete_back_post_path(@post), {method: :patch,
        data: { confirm: t('view.confirm.post.complete')}, class: 'btn btn-default'} do %>
          <i class="glyphicon glyphicon-ok"></i> <%= t('view.action.complete') %> 
        <% end %>
      <% end %>
      <% if can? :publish, @post %>
        <%= link_to publish_back_post_path(@post), {method: :patch,
        data: { confirm: t('view.confirm.post.publish')}, class: 'btn btn-default'} do %>
          <i class="fa fa-upload"></i> <%= t('view.action.publish') %> 
        <% end %>
      <% end %>
      <% if can? :reject, @post %>
        <%= link_to reject_back_post_path(@post), {method: :patch,
        data: { confirm: t('view.confirm.post.reject')}, class: 'btn btn-default'} do %>
          <i class="fa fa-reply"></i> <%= t('view.action.reject') %> 
        <% end %>
      <% end %>
      <% if can? :lock, @post %>
        <%= link_to lock_back_post_path(@post), {method: :patch,
        data: { confirm: t('view.confirm.post.lock')}, class: 'btn btn-default'} do %>
          <i class="fa fa-lock"></i> <%= t('view.action.lock') %> 
        <% end %>
      <% end %>
      <% if can? :unlock, @post %>
        <%= link_to unlock_back_post_path(@post), {method: :patch,
        data: { confirm: t('view.confirm.post.unlock')}, class: 'btn btn-default'} do %>
          <i class="fa fa-unlock"></i> <%= t('view.action.unlock') %> 
        <% end %>
      <% end %>
    </div>
    <div class="btn-group pull-right">
      <%= link_to back_posts_path, {class: 'btn btn-default'} do %>
        <i class="fa fa-list"></i> <%= t('view.action.back_to_list') %> 
      <% end %>
    </div>
  <% if can? :preview, @post%>
    <div class="btn-group pull-right">
      <%= link_to preview_back_post_path(@post), {class: 'btn btn-default', target: 'blank'} do %>
        <i class="fa fa-eye"></i> <%= t('view.action.preview') %> 
      <% end %>
    </div>
  <% end %>
  </div>
</div>

<div class='box box-info car-content-box'>
  <dl class="dl-horizontal">
    <dt><%= Post.human_attribute_name(:title) %></dt>
    <dd><%= @post.title %></dd>
    <dt><%= Post.human_attribute_name(:catagory_id) %></dt>
    <dd><%= @post.catagory.name %></dd>
    <dt><%= Post.human_attribute_name(:status) %></dt>
    <dd><%= @post.status_text %></dd>
    <dt><%= Post.human_attribute_name(:create_user_id) %></dt>
    <dd><%= @post.admin.name %></dd>
    <dt><%= Post.human_attribute_name(:check_user_id) %></dt>
    <dd><%= @post.check_user ? @post.check_user.name : render_blank_enable_item %></dd>
    <dt><%= Post.human_attribute_name(:reject_reason) %></dt>
    <dd><%= render_blank_enable_item(@post.reject_reason) %></dd>
    <dt><%= Post.human_attribute_name(:lock_user_id) %></dt>
    <dd><%= @post.lock_user ? @post.lock_user.name : render_blank_enable_item %></dd>
    <dt><%= Post.human_attribute_name(:created_at) %></dt>
    <dd><%= l(@post.created_at) %></dd>
    <dt><%= Post.human_attribute_name(:updated_at) %></dt>
    <dd><%= l(@post.updated_at) %></dd>
  </dl>
</div>
