<%= define_grid @orders_grid, hide_submit_button: true, hide_reset_button: true do |g|
  g.column name: Order.human_attribute_name(:order_no), attribute: "order_no", detach_with_id: :order_no_filter do |item|
    if can? :read, item
      link_to(item.order_no, back_mystation_order_path(item))
    end
  end
  g.column name: Order.human_attribute_name(:status), attribute: "status", 
    custom_filter: enum_list_for_view(Car::Code::ORDER_STATUS, 'order.status'), detach_with_id: :status_filter do |item|
    render 'common/order/order_status_label', order: item
  end
  g.column name: Order.human_attribute_name(:order_time), attribute: "order_time", detach_with_id: :order_time_filter do |item|
    l(item.order_time)
  end
  g.column name: Order.human_attribute_name(:car_number), attribute: "car_number_detail", detach_with_id: :car_number_detail_filter, ordering: false do |item|
    item.car_number
  end
  g.column name: Order.human_attribute_name(:telephone), attribute: "telephone", ordering: false, detach_with_id: :telephone_filter
  g.column do |item|
    links = []
    if can? :read, item
      # links << link_to(I18n.t('view.action.show'), [:back, :mystation, item])
      links << link_to(I18n.t('view.action.show'), back_mystation_order_path(item))
    end
    if can? :update, item
      links << link_to(I18n.t('view.action.edit'), [:edit, :back, :mystation, item])
    end
    if can? :destroy, item
      links << link_to(I18n.t('view.action.delete'), [:back, :mystation, item], method: :delete, data: { confirm: t('view.confirm.delete')})
    end
    links.join(t('view.label.links_split')).html_safe
  end
end -%>

<div class="car-filter">
  <div class="box box-solid">
    <div class="box-header car-filter-header"  data-widget="collapse" data-toggle="tooltip" data-original-title="点击伸缩">
      <i class="fa fa-search-plus"></i>
      <h5 class="box-title">查询</h5>
    </div><!-- /.box-header -->
    <div class="box-body">
      <div class="row car-filter-item">
        <div class="col-sm-2 item-label"><%= Order.human_attribute_name(:order_no)%></div>
        <div class="col-sm-4">
          <%= grid_filter @orders_grid, :order_no_filter %>
        </div>
      </div>
      <div class="row car-filter-item">
        <div class="col-sm-2 item-label"><%= Order.human_attribute_name(:telephone)%></div>
        <div class="col-sm-4">
          <%= grid_filter @orders_grid, :telephone_filter %>
        </div>
      </div>
      <div class="row car-filter-item">
        <div class="col-sm-2 item-label"><%= Order.human_attribute_name(:car_number)%></div>
        <div class="col-sm-4">
          <%= grid_filter @orders_grid, :car_number_detail_filter %>
        </div>
      </div>
      <div class="row car-filter-item">
        <div class="col-sm-2 item-label"><%= Order.human_attribute_name(:status)%></div>
        <div class="col-sm-4">
          <%= grid_filter @orders_grid, :status_filter %>
        </div>
      </div>
      <div class="row car-filter-item">
        <div class="col-sm-2 item-label"><%= Order.human_attribute_name(:order_time)%></div>
        <div class="col-sm-2">
          <div class="input-group">
            <button class="btn btn-default pull-right" id="daterange-btn">
              <i class="fa fa-calendar"></i> 选择起始日期
              <i class="fa fa-caret-down"></i>
            </button>
          </div>
        </div>
        <div class="col-sm-4">
          <%
            _str_range_start = _str_range_end = ''
            if params['grid'] && params['grid']['f'] && params['grid']['f']['order_time']
              if params['grid']['f']['order_time']['fr']
                _str_range_start = params['grid']['f']['order_time']['fr'].strftime('%Y-%m-%d')
              end
              if params['grid']['f']['order_time']['to']
                _str_range_end = params['grid']['f']['order_time']['to'].strftime('%Y-%m-%d')
              end
            end
          %>
          <div>
            从<input id="grid_f_order_time_fr" type='text' name="grid[f][order_time][fr]"
                class="car-date-range-from form-control car-date-range-input disabled"
                value="<%= _str_range_start %>"
                readonly>
            到<input id="grid_f_order_time_to" type='text' name="grid[f][order_time][to]" 
                class="car-date-range-to form-control car-date-range-input disabled" 
                value="<%= _str_range_end %>"
                readonly>
          </div>

          <%# grid_filter @orders_grid, :order_time_filter %>
        </div>
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button class="btn btn-primary wg-external-submit-button" data-grid-name="grid">
        <%= t('view.action.find')%>
      </button>
      <button class="btn btn-default wg-external-reset-button" data-grid-name="grid">
        <%= t('view.action.clear')%>
      </button>
    </div><!-- /.box-footer -->
  </div>
</div>
<div class='car-content-list'>
  <%= render_grid(@orders_grid) %>
</div>
