<style>
  #main-content {
    padding-top: 0px;
  }
</style>

<% content_for :header_area do %>
    <style>
      #welcome-site {
        height: 326px;
        width: 540px;
        position: absolute;
        right: 100px;
        bottom: 0px;
      }
      #welcome-kefu {
        height: 326px;
        width: 540px;
        position: absolute;
        left: 100px;
        bottom: 50px;
      }
      .welcome-area {
        height: 450px;
        position: relative;
      }
      .feather-des {
        position: absolute;
        top: 100px;
        color: #fff;
        font-weight: bold;
        text-align: center;
      }
      .feather-des > h1 {
        font-size: 48px;
      }
      .feather-des > a {
        font-size: 36px;
      }
    </style>
    <div class="container-fluid welcome-area" style="background-color: #09B3CD;">
      <div class="feather-des" style="left: 200px;">
        <h1>网上预约</h1>
        <h1>随到随检</h1>
        <br>
        <a class="btn btn-danger" href="<%= front_stations_path %>">马上预约检车</a>
      </div>
      <%= image_tag asset_path('welcome_site.png'), id: "welcome-site" %>
    </div>
    <div class="container-fluid welcome-area" style="background-color: #F8931E;">
      <div class="feather-des" style="right: 300px;">
        <h1>一个电话</h1>
        <h1>轻松搞定</h1>
        <br>
        <a class="btn btn-success" href="<%= front_stations_path %>">查看预约电话</a>
      </div>
      <%= image_tag asset_path('kefu.png'), id: "welcome-kefu" %>
    </div>
    <div class="container-fluid welcome-area" style="background-color: #92278F; text-align:center;">
      <%= image_tag asset_path('weixin4.png'), class: "img-circle", style: "margin-top: 100px;" %>
      <div style="position:absolute; top: 200px;color:#fff;text-align:center;width:100%;">
        <h1 style="font-size: 48px;">扫一扫，关注我们</h1>
      </div>
    </div>
<%end%>
