<div class="row">
  <div class="car-content-side car-info-list car-post">
    <div class="car-title">
      <h4 class="text-center"><%= @post.title %></h4>
      <p class="text-center car-tips-date">
        <i class="glyphicon glyphicon-time"></i>
        <em><%= l(@post.updated_at, format: :ymd) %></em>
      </p>
      <% if @pre_post.present? %>
      <span class="pull-left">
        <small>
          <a href="<%= front_post_path(@catagory, @pre_post) %>">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%= "#{t('view.action.pre_post')}#{@pre_post.title}" %>
          </a>
        </small>
      </span>
      <% end %>
      <% if @next_post.present? %>
      <span class="pull-right">
        <small>
          <a href="<%= front_post_path(@catagory, @next_post) %>">
            <%= "#{t('view.action.next_post')}#{@next_post.title}" %>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </small>
      </span>
      <% end %>
      <div class="clearfix"></div>
    </div>
    <div class="car-post-content">
      <%= @post.content.html_safe %>
    </div>
  </div><!-- /.content-side -->

  <div class="car-right-side">
    <%= render "front/right_side/hot_posts"%>
  </div><!-- /.col -->
</div><!-- /.row -->
