<%= content_for :head_javascript do %>
  <%= render "common/baidu_map/script_link"%>
<%end%>
<div class='box car-toolbox'>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <%= link_to edit_back_system_station_path(@station), {class: 'btn btn-default'} do %>
        <i class="fa fa-edit"></i> <%= t('view.action.edit') %> 
      <% end %>
      <%= link_to edit_map_back_system_station_path(@station), {class: 'btn btn-default'} do %>
        <i class="fa fa-map-marker"></i> <%= t('view.action.edit_map') %> 
      <% end %>
    </div>
    <div class="btn-group">
      <%= link_to [:back, :system, @station], {method: :delete,
      data: { confirm: t('view.confirm.delete')},  class: 'btn btn-default'} do %>
        <i class="glyphicon glyphicon-remove"></i> <%= t('view.action.delete') %> 
      <% end %>
    </div>
    <div class="btn-group">
      <% if can? :review, @station%>
        <%= link_to review_back_system_station_path(@station), {method: :patch,
          data: { confirm: t('view.confirm.station.reviewed')}, class: 'btn btn-default'} do %>
          <i class="glyphicon glyphicon-ok"></i> <%= t('view.action.review') %> 
        <% end %>
      <% end %>
      <% if can? :lock, @station%>
        <%= link_to lock_back_system_station_path(@station), {method: :patch,
        data: { confirm: t('view.confirm.station.lock')}, class: 'btn btn-default'} do %>
          <i class="fa fa-lock"></i> <%= t('view.action.lock') %> 
        <% end %>
      <% end %>
      <% if can? :unlock, @station%>
        <%= link_to unlock_back_system_station_path(@station), {method: :patch,
        data: { confirm: t('view.confirm.station.unlock')}, class: 'btn btn-default'} do %>
          <i class="fa fa-unlock"></i> <%= t('view.action.unlock') %> 
        <% end %>
      <% end %>
    </div>
    <div class="btn-group pull-right">
      <%= link_to back_system_stations_path, {class: 'btn btn-default'} do %>
        <i class="fa fa-list"></i> <%= t('view.action.back_to_list') %> 
      <% end %>
    </div>
  </div>
</div>

<div class='box box-info car-content-box'>
  <dl class="dl-horizontal">
    <dt><%= Station.human_attribute_name(:name) %></dt>
    <dd><%= @station.name %></dd>
    <dt><%= Station.human_attribute_name(:status) %></dt>
    <dd><%= render "back/common/station_status", station: @station %></dd>
    <dt><%= Station.human_attribute_name(:address) %></dt>
    <dd>
      <%= "#{ChinaCity.get(@station.province)} #{ChinaCity.get(@station.city)}
      #{ChinaCity.get(@station.district)} #{@station.address}"%>
    </dd>
    <dt><%= Station.human_attribute_name(:telephone) %></dt>
    <dd><%= @station.telephone %></dd>
    <dt><%= Station.human_attribute_name(:recommend) %></dt>
    <dd><%= render_blank_enable_item(@station.recommend) %></dd>
    <dt><%= Station.human_attribute_name(:created_at) %></dt>
    <dd><%= l(@station.created_at) %></dd>
    <dt><%= Station.human_attribute_name(:updated_at) %></dt>
    <dd><%= l(@station.updated_at) %></dd>
    <% if @station.has_map_info? %>
      <dt><%= t('view.label.map_info')%></dt>
      <dd>
        <div id="allmap" style="height: 300px;"></div>
      </dd>
      <%= render "common/baidu_map/station_map_show_only", station: @station%>
    <% end %>
  </dl>
</div>
