<%= content_for :head_javascript do %>
  <%= render "common/baidu_map/script_link"%>
<%end%>
<div class='box car-toolbox'>
  <div class="btn-toolbar" role="toolbar">
    <% if can? :edit, @station %>
      <div class="btn-group">
        <%= link_to edit_back_mystation_station_path, {class: 'btn btn-default'} do %>
          <i class="fa fa-edit"></i> <%= t('view.action.edit') %> 
        <% end %>
      </div>
    <% end %>
    <% if can? :edit_picture, @station %>
      <div class="btn-group">
        <%= link_to edit_picture_back_mystation_station_path, {class: 'btn btn-default'} do %>
          <i class="fa fa-picture-o"></i> <%= t('view.action.edit_picture') %> 
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class='box box-info car-content-box'>
  <dl class="dl-horizontal">
    <dt><%= Station.human_attribute_name(:name) %></dt>
    <dd><%= @station.name %></dd>
    <dt><%= Station.human_attribute_name(:status) %></dt>
    <dd><%= render "back/common/station_status", station: @station%></dd>
    <dt><%= Station.human_attribute_name(:address) %></dt>
    <dd>
      <%= "#{ChinaCity.get(@station.province)} #{ChinaCity.get(@station.city)}
      #{ChinaCity.get(@station.district)} #{@station.address}"%>
    </dd>
    <dt><%= Station.human_attribute_name(:telephone) %></dt>
    <dd><%= @station.telephone %></dd>
    <dt><%= Station.human_attribute_name(:recommend) %></dt>
    <dd><%= render_blank_enable_item(@station.recommend) %></dd>
    <dt><%= Station.human_attribute_name(:created_at) %></dt>
    <dd><%= l(@station.created_at) %></dd>
    <dt><%= Station.human_attribute_name(:updated_at) %></dt>
    <dd><%= l(@station.updated_at) %></dd>
    <dt><%= Station.human_attribute_name(:logo) %></dt>
    <dd>
      <div class="car-logo-group">
        <div>
          <%= image_tag @station.logo.url(:medium)%>
        </div>
        <span><%= t('view.label.medium') %></span>
      </div>
      <div class="car-logo-group">
        <div>
          <%= image_tag @station.logo.url(:thumb)%>
        </div>
        <span><%= t('view.label.thumb') %></span>
      </div>
    </dd>
    <% if @station.has_map_info? %>
      <dt><%= t('view.label.map_info')%></dt>
      <dd>
        <div id="allmap" style="height: 300px;"></div>
      </dd>
      <%= render "common/baidu_map/station_map_show_only", station: @station%>
    <% end %>
  </dl>
</div>
