<% content_for :head_title do %>
  编辑用户信息
<% end %>

<div class='row car-devise'>
  <div class='col-sm-8 car-left-side'>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
        html: {class: 'form-horizontal', role: 'form', method: :put} ) do |f| %>

      <div class="form-inputs">
        <div class='car-form-items'>
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        </div>
        <div class='car-form-items'>
          <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        </div>
        <div class='car-form-items'>
          <%= f.input :password_confirmation, required: false %>
        </div>
        <div class='car-form-items'>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
        </div>
      </div>

      <div class="car-form-actions">
        <%= f.button :submit, "更新", class: 'btn btn-success col-sm-offset-2' %>
      </div>
    <% end %>
  </div>

  <div class='col-sm-4 car-right-side'>
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>

  </div>
</div>
