<% content_for :head_title do %>
  注册新用户
<% end %>

<div class='row car-devise'>
  <div class='col-sm-8 car-left-side'>
    <div class="car-nav-tabs-custom">
      <ul class="nav nav-tabs" role="tablist">
      <% if params[:user] && params[:user][:mode] == 'telephone' %>
        <li><a href="<%= new_user_registration_path('user[mode]' => 'email')%>">邮箱注册</a></li>
        <li class="active"><a href="<%= new_user_registration_path('user[mode]' => 'telephone')%>">手机注册</a></li>
      <% else %>
        <li class="active"><a href="<%= new_user_registration_path('user[mode]' => 'email')%>">邮箱注册</a></li>
        <li><a href="<%= new_user_registration_path('user[mode]' => 'telephone')%>">手机注册</a></li>
      <% end %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_email">
          <%= simple_form_for(resource, as: resource_name,
            url: registration_path(resource_name),
            html: {class: 'form-horizontal mask-form', role: 'form'} ) do |f| %>
            <div class='car-form-items'>
              <% if params[:user] && params[:user][:mode] == 'telephone' %>
                <%= render "new_form_phone", f: f %> 
              <% else %>
                <%= render "new_form", f: f %> 
              <% end %>
            </div>
            <div class="car-form-actions">
              <%= f.button :submit, t('view.action.sign_up'), class: 'btn btn-lg btn-success col-sm-2 col-sm-offset-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-4 car-right-side'>

    <%= render "users/shared/links" %>
  </div>
</div>
